%html
  %head
    %meta{:charset "utf-8"}
    %title Hello, World!
    %meta{:http-equiv "Content-Style-Type" :content "text/css"}
    %meta{:http-equiv "Content-Script-Type" :content "text/javascript"}
    %meta{:http-equiv "X-UA-Compatible" :content "IE-edge"}
    %script{:type "text/css" :src "/script/jquery.js"}
    %script{:type "text/css" :src "/script/common.js"}
    :javascript
      $(function() {
        $('a, button, input:submit, input:button').button();
      })
    %link{:rel "stylesheet" :type "text/css" :href "/style/common.css"}
    %link{:rel "shortcut" :href "/favicon.ico"}
  %body
    %header
      %h1
        %a.title{:href "/"}= "Hello, Haml world!"
      %ul#menu
        %li Top
        %li My List
        %li Search
        %li Help
        %li Sign Out

    %chapter#content
      %table.my-list
        %thead
          %tr
            %th Index
            %th Name
            %th 名前
            %th 誕生日
        %tbody
          - dolist (record l)
            %tr
              %td= (first record)
              %td= (second record)
              %td= (third record)
              %td= (nth 3 record)

      %select
        - dotimes (i 10)
          - if (= i 5)
            - progn
              %option{:value i :selected "selected"}= (format nil "nWo ~A" i)
            - progn
              %option{:value i}= (format nil "nWo ~A" i)
