!!! 5
%html
  %head
    %meta{:charset "utf-8"}
    %title= (format nil "Hello, ~Dth" (random 10))
    :javascript
      function hoge(x) {
        aleat(x);
        aleat(x);
        aleat(x);
      }
    :css
      body {background-color: #000;}
  %body
    %h1 Hello, World

    %table{:border "1"}
      %tr
        %th /
        - dotimes (i 9)
          %th= (1+ i)
      - dotimes (i 9)
        %tr
          %th= (1+ i)
          - dotimes (j 9)
            %td= (* i j)

    %div= (or $argument "No Value")